body,
html {
    height: 100%;
    background-color: rgb(213, 223, 239);
}

ul li a {
    font-size: 19px;
}

.navbar-brand {
    padding-bottom: 0;
    cursor: default;
}

h2 {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: row;
}

.language {
    padding: 10px;
    margin-bottom: 1%;
}

.language a {
    padding-left: 3px;
    text-decoration: none;
    color: black;
}

.language i {
    margin-top: 0.5%;
}

.language:hover {
    color: black;
    background-color: rgb(230, 223, 239);
}

.language a:hover {
    text-decoration: underline;
}

.theme {
    padding: 10px;
    margin-bottom: 1%;
}

.theme a {
    padding-left: 3px;
    text-decoration: none;
    color: black;
}

.theme i {
    margin-top: 0.5%;
}

.theme:hover {
    color: black;
    background-color: rgb(230, 223, 239);
}

.theme a:hover {
    text-decoration: underline;
}

.copyright {
    padding: 10px;
}


/* Body */

.body_content {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
}

.navigation {
    text-align: center;
    padding: 0 5% 0 5%;
    margin: 0 0 5% 5%;
}

.homeMenuContent {
    padding: 0 1% 0 3%;
    margin: 0 3% 2% 2%;
}

.homeMenuContent ul li {
    padding: 2% 0 2% 0;
    font-size: 1.1em;
}

.homeMenuContent p {
    font-size: 1.3em;
    font-weight: 500;
}

.homeMenuContent img {
    margin-top: 1%;
}

.ul_navigation {
    text-align: start;
}

.ul_navigation h6 {
    line-height: 160%;
    margin-top: 5%;
}

.ul_navigation li a {
    font-size: 1em;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.ul_navigation li a:hover {
    text-decoration: underline;
}

.img1 {
    height: 100%;
    width: 100%;
}

.img2 {
    height: auto;
    width: auto;
}

#big_parts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#big_parts a {
    font-size: 0.9em;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#big_parts a:hover {
    text-decoration: underline;
}


/* Return to the top page*/

a#cRetour {
    border-radius: 3px;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.25);
    position: fixed;
    right: 20px;
    opacity: 1;
    z-index: 99999;
    transition: all ease-in 0.2s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    text-decoration: none;
}

a#cRetour:before {
    content: "\25b2";
}

a#cRetour:hover {
    background: rgba(0, 0, 0, 1);
    transition: all ease-in 0.2s;
}

a#cRetour.cInvisible {
    bottom: -35px;
    opacity: 0;
    transition: all ease-in 0.5s;
}

a#cRetour.cVisible {
    bottom: 20px;
    opacity: 1;
}