body,
html {
    height: 100%;
    background-color: rgb(213, 223, 239);
}

ul li a {
    font-size: 19px;
}

.container_body {
    margin: 1% 4% 2% 4%;
}

h1 {
    text-decoration: underline;
}

.navbar-brand {
    padding-bottom: 0;
}

#welcome_img img {
    height: 100%;
    width: 100%;
}

.arrow {
    margin-bottom: 0;
}

.container {
    display: flex;
    flex-direction: row;
}

.language {
    padding: 10px;
    margin-bottom: 1%;
}

.language a {
    padding-left: 3px;
    text-decoration: none;
    color: black;
}

.language i {
    margin-top: 0.5%;
}

.language:hover {
    color: black;
    background-color: rgb(230, 223, 239);
}

.language a:hover {
    text-decoration: underline;
}

.theme {
    padding: 10px;
    margin-bottom: 1%;
}

.theme a {
    padding-left: 3px;
    text-decoration: none;
    color: black;
}

.theme i {
    margin-top: 0.5%;
}

.theme:hover {
    color: black;
    background-color: rgb(230, 223, 239);
}

.theme a:hover {
    text-decoration: underline;
}

.copyright {
    padding: 10px;
}

.collapse p {
    font-size: 1.3em;
}